* {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.heading {
    background-image: url(../images/banner/banner3.png);
    background-repeat: no-repeat;
    width: 1600px;
    height: 808px;
}

.heading-text {
    text-align: right;
    padding: 216px 230px 166px 845px;
    color: #FFFFFF;
}

.quote {
    font-family: 'Work Sans';
    font-weight: 700px;
    font-size: 65px;
    margin-bottom: 24px;
}

.header-description {
    font-weight: 400px;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 32px;
}

.button-header {
    padding: 21px 25px 20px 24px;
    border: 0px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    color: #005FAC;
}


.parent-div {
    margin: 131px 322px 129.7px 206px;
    width: 1072px;
    height: 723.3px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    gap: 87px;

}

.child-div {
    padding-top: 150px;
}

.c-div-title {
    font-weight: 700;
    font-size: 40px;
    color: #000000;
    margin-bottom: 24px;
}


.c-div-description {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-bottom: 16px;
}

.failure {
    list-style: none;
    padding-bottom: 8px;
}

li:before {
    content: '✓  ';
    color: rgb(144, 236, 5);
}



.heading2 {
    font-weight: 700px;
    font-size: 40px;
    color: #151414;
    text-align: center;
    margin-bottom: 50px;
    width: 1600px;
}

/* Need to Know difference between Text Align & Align items */

.parent-div2 {
    margin: 0px 229px 130px 230px;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 86px;
}

.web-title {
    margin-top: 23px;
    margin-bottom: 16px;
    font-weight: 700px;
    font-size: 30px;

}

.web-para {
    font-weight: 500px;
    font-size: 25px;
    color: #737272;
}

.js-title {
    margin-top: 23px;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 30px;

}

.js-para {
    font-weight: 500;
    font-size: 25px;
    color: #737272;
}

.smoke-title {
    margin-top: 23px;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 30px;

}

.smoke-para {
    font-weight: 500;
    font-size: 25px;
    color: #737272;
}

.ecom-title {
    margin-top: 23px;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 30px;

}

.ecom-para {
    font-weight: 500;
    font-size: 25px;
    color: #737272;
}

.image {
    background-image: linear-gradient(to right , #005FAC 0%, rgba(0, 95, 172, 0) 100%) , url(../images/watch.png);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
     /* width: 1140px; */
    height: 245px;
    margin: 0px 230px 130px 230px;
    padding: 59px 617px 0px 64px;
}

.words {
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
}
